body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.jumbotron {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: black;
    padding: 100px 25px;
    text-align: center;
}

.navbar {
  background-color: #e9ecef;
}

.feature {
    text-align: center;
    padding: 50px 0;
}

.feature-icon {
    font-size: 3em;
    margin-bottom: 20px;
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#login-btn {
  background-color: #e9ecef;
  border-color: #e9ecef;
  color: black;
}

.login {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  outline: 2px solid #e9ecef;
  border-radius: 3em;
  padding: 3em;
}

.form-group {
  margin-bottom: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.form-group input {
  width: 75%;
}

#new-acc {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 1em;
}

.entry {
  margin: 5em;
}

.title {
  text-align: center;
  margin-top: 2em;
}

#login-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 2em;
}