body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

#jumbotron {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* background-color: #c8dfea; */
    background-color: #506C7F;
    color: white;
    padding: 100px 25px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Add this style for improved button alignment */
.input-group {
  display: flex;
  align-items: center;
}

/* Center the search box and new journal entry button */
.container {
  text-align: center;
  margin-top: 50px;
  /* Adjust margin-top as needed */
}

/* Style for the "Start New Journal Entry" button */
.btn-success {
  font-size: 1.5em;
  /* Add any additional styling you prefer */
}

/* Optional: Add some spacing between the buttons */
.col-md-6 {
  margin-bottom: 20px;
}

/* Style for the "Start New Journal Entry" button */
.btn-success {
  font-size: 1.5em;
  background-color: #537d90;
  /* Green color */
  border-color: #537d90;
  color: #fff;
  /* White text color */
  transition: background-color 0.3s ease-in-out;
  /* Smooth transition for color change */
}

/* Hover effect for the "Start New Journal Entry" button */
.btn-success:hover {
  background-color: #537d90;
  /* Darker green color on hover */
  border-color: #537d90;
}

.navbar {
  background-color: #506C7F;
}

.feature {
    text-align: center;
    padding: 50px 0;
}

.feature-icon {
    font-size: 3em;
    margin-bottom: 20px;
}

.footer {
    background-color: #537d90;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#login-btn {
  background-color: #e9ecef;
  border-color: #e9ecef;
  color: black;
}

.login {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  outline: 2px solid #e9ecef;
  border-radius: 3em;
  padding: 3em;
}

.form-group {
  margin-bottom: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.form-group input {
  width: 75%;
}

#new-acc {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 1em;
}

.entry {
  margin: 5em;
}

.title {
  text-align: center;
  margin-top: 2em;
}

#login-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 2em;
}

h3 {
  color: #537d90;
}