/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
  color: #3B4650 !important;
  background-color: #D4DCDE !important;
}

#jumbotron {
  text-align: center;
  background-color: #D4DCDE;
  margin: 0px;
}

#jumbotron img {
  max-width: 40%;
  height: auto;
}

.navbar {
  background-color: #D4DCDE;
  font-size: 1.5em;
  color: #3B4650;
  font-family: 'Abril Fatface', serif;
}

#logo {
  width: 5em;
}

.title {
  text-align: center;
  padding-top: 2em;
  margin: 0px;
  font-weight: bold;
}

h3 {
  padding-top: 1em;
}

/* Add this style for improved button alignment */
.input-group {
  display: flex;
  align-items: center;
}

/* Center the search box and new journal entry button */
.container {
  text-align: center;
  margin-top: 50px;
  /* Adjust margin-top as needed */
}

/* Style for the "Start New Journal Entry" button */
.btn-success {
  font-size: 1.5em;
  /* Add any additional styling you prefer */
}

/* Optional: Add some spacing between the buttons */
.col-md-6 {
  margin-bottom: 20px;
}

/* Style for the "Start New Journal Entry" button */
#btn-success, #btn-search {
  font-size: 1em;
  background-color: #537d90;
  /* Green color */
  border-color: #537d90;
  color: #fff;
  /* White text color */
  /* transition: background-color 0.3s ease-in-out; */
  /* Smooth transition for color change */
}

/* Hover effect for the "Start New Journal Entry" button */
#btn-success:hover, #btn-search:hover {
  background-color: #c8dfea;
  /* Darker green color on hover */
  border-color: #c8dfea;
  color: #537d90;
}

.feature {
    text-align: center;
    padding: 50px 0;
}

.feature-icon {
    font-size: 3em;
    margin-bottom: 20px;
}

.footer {
    background-color: #537d90;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#login-btn {
  background-color: #4B8D97;
  border-color: #4B8D97;
  color: white;
}

#login-btn:hover {
  background-color: #6EBEC9;
  border-color: #6EBEC9;
  color: white;
}

.login {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  outline: 2px solid #e9ecef;
  border-radius: 3em;
  padding: 3em;
}

.form-group {
  margin-bottom: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.form-group input {
  width: 75%;
}

#new-acc {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 1em;
}

.entry {
  /* first number styles the top/bottom, second is left/right */
  margin: 3em 7em;
}

#login-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 2em;
}

h3 {
  color: #537d90;
}

/* for table search feature */
.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:1em; 
  color:#ccc;
  float: right;
}

#small-search {
    width: 10em;
    float: right;
}

#table-container {
    width: 80%; 
    overflow-x: auto;
    margin: 20px auto; 
}

table {
    width: 100%; 
    border-collapse: collapse; 
}