<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <h1 class="title">Create Account</h1>

    <!-- Create user form -->
    <div id="login-section">
        <form class="login" action="/create" method="post">
            <div class="form-group">
                <label for="username">Enter username:</label>
                <input type="username" class="form-control" id="username" placeholder="username">
            </div>
                <div class="form-group">
                <label for="password">Enter password:</label>
                <input type="password" class="form-control" id="password" placeholder="password">
            </div>
                <div class="form-group">
                <label for="confirm-password">Confirm password:</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-primary" id="login-btn">Login</button>
            <!-- TODO: add alert messages when creating account -->
            <!-- <% if (msg == "error") { %>
                <p style="color: red">This username is already taken. Please try again.</p>
            <% } %>
            <% if (msg == "password") { %>
                <p style="color: red">Passwords do not match. Please try again.</p>
            <% } %>
            <% if (msg == "success") { %>
                <p style="color: green">User created!</p>
            <% } %> -->
      </form>
    </div>
</body>
<%- include('../partials/footer') %>
